<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-rounded btn-primary" type="button" routerLink="/addEmpleados">
                            Crear empleado <i class="fas fa-plus-square"></i>
                        </button>
                    </div>
                    <div class="form-group col has-search">

                        <span class="fa fa-search form-control-feedback"></span>
                        <input class="form-control" type="search" placeholder="Busqueda" aria-label="Buscar"
                            name="filterPost" [(ngModel)]="filterPost">
                    </div>
                </div>
            </div>


            <div class="table">
                <div class="alert alert-info" *ngIf="empleados?.length == 0">
                    No hay registros en la base de datos
                </div>

                <table class="table-responsive" *ngIf="empleados?.length>0">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-left">Nombre completo</th>
                            <th class="text-left">Tipo de Identificación</th>
                            <th class="text-left">Número de Identificación</th>
                            <th class="text-left">País del empleo</th>
                            <th class="text-left">Correo electrónico </th>
                            <th class="text-left">Area</th>
                            <th class="text-left">Estado </th>
                            <th class="text-left">Fecha registro</th>
                            <th class="text-left">Fecha Ingreso</th>
                            <th class="text-left">Editar</th>
                            <th class="text-left">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let empleado of empleados | paginate: {itemsPerPage:10, currentPage: page} | filter:filterPost">
                            <td>{{ empleado.primerNombre+' '+empleado.otrosNombres+' '+empleado.primerApellido+' '+empleado.segundoApellido  }}
                            </td>
                            <td>{{ empleado.tipoIdentificacion.nombre }}</td>
                            <td>{{ empleado.numeroIdentificacion }}</td>
                            <td>{{ empleado.paisEmpleo.nombrePais }}</td>
                            <td>{{ empleado.correoElectronico}}</td>
                            <td>{{ empleado.areaServicio.nombre }}</td>
                            <td *ngIf="empleado.estado == true; then thenBlock else elseBlock">{{ empleado.estado }}
                            </td>
                            <ng-template #thenBlock>
                                <td>Activo</td>
                            </ng-template>
                            <ng-template #elseBlock>
                                <td>Inactivo</td>
                            </ng-template>
                            <td>{{ empleado.fechaRegistro | date: 'medium'}}</td>
                            <td>{{ empleado.fechaIngreso  | date}}</td>
                            <td>
                                <button type="button" name="editar" routerLink="/updateEmpleados/{{empleado.id}}"
                                    class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></button>
                            </td>
                            <td>
                                <button type="button" name="eliminar" (click)='delete(empleado)'
                                    class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <pagination-controls class="d-flex justify-content-center" (pageChange)="page = $event"
                    previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>

            </div>
        </div>
    </div>
</div>