<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form [formGroup]="registerEmpForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label for="primerApellido" class="col-form-label col-sm-2">Primer Apellido</label>
                <div class="col-sm-6">
                    <input formControlName="primerApellido" type="text" class="form-control"
                        [(ngModel)]="empleados.primerApellido"
                        [ngClass]="{ 'is-invalid': submitted && f.primerApellido.errors }" name="primerApellido">

                    <div *ngIf="submitted && f.primerApellido.errors" class="invalid-feedback">
                        <div *ngIf="f.primerApellido.errors.required">Primer nombre es requerido</div>
                        <div *ngIf="f.primerApellido.errors.maxlength">Máximo 20 letras</div>
                        <div *ngIf="f.primerApellido.errors.pattern">Solo se permite caracteres de la A a la Z, mayúscula, sin acentos ni Ñ.</div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label for="segundoApellido" class="col-form-label col-sm-2">Segundo Apellido</label>
                <div class="col-sm-6">
                    <input formControlName="segundoApellido" [(ngModel)]="empleados.segundoApellido" type="text"
                        class="form-control" name="segundoApellido"
                        [ngClass]="{ 'is-invalid': submitted && f.segundoApellido.errors }">

                    <div *ngIf="submitted && f.segundoApellido.errors" class="invalid-feedback">
                        <div *ngIf="f.segundoApellido.errors.required">Segundo apellido es requerido</div>
                        <div *ngIf="f.segundoApellido.errors.maxlength">Máximo 20 letras</div>
                        <div *ngIf="f.segundoApellido.errors.pattern">Solo se permite caracteres de la A a la Z, mayúscula, sin acentos ni Ñ.</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="primerNombre" class="col-form-label col-sm-2">Primer Nombre</label>
                <div class="col-sm-6">
                    <input formControlName="primerNombre" type="text" [(ngModel)]="empleados.primerNombre"
                        class="form-control" name="primerNombre"
                        [ngClass]="{ 'is-invalid': submitted && f.primerNombre.errors }">

                    <div *ngIf="submitted && f.primerNombre.errors" class="invalid-feedback">
                        <div *ngIf="f.primerNombre.errors.required">Primer nombre es requerido</div>
                        <div *ngIf="f.primerNombre.errors.maxlength">Máximo 20 letras</div>
                        <div *ngIf="f.primerNombre.errors.pattern">Solo se permite caracteres de la A a la Z, mayúscula, sin acentos ni Ñ.</div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <label for="otrosNombres" class="col-form-label col-sm-2">Otros Nombres</label>
                <div class="col-sm-6">
                    <input formControlName="otrosNombres" type="text" [(ngModel)]="empleados.otrosNombres"
                        class="form-control" name="otrosNombres"
                        [ngClass]="{ 'is-invalid': submitted && f.otrosNombres.errors }">

                    <div *ngIf="submitted && f.otrosNombres.errors" class="invalid-feedback">
                        <div *ngIf="f.otrosNombres.errors.maxlength">Máximo 50 letras</div>
                        <div *ngIf="f.otrosNombres.errors.pattern">Solo se permite caracteres de la A a la Z, mayúscula, sin acentos ni Ñ</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="tipoPais" class="col-form-label col-sm-2">País de empleo</label>
                <div class="col-sm-6">
                    <select class="form-control " id="tipoPais" formControlName="tipoPais" name="tipoPais"
                    [(ngModel)]="empleados.paisEmpleo">
                        <option *ngFor="let itemPais of paisesEmpleo" value="{{itemPais.idPais}}">
                            {{itemPais.nombrePais}}
                        </option>
                    </select>

                </div>
            </div>

            <div class="form-group row">
                <label for="numeroIdentificacion" class="col-form-label col-sm-2">Número Identificación</label>
                <div class="col-sm-6">
                    <input formControlName="numeroIdentificacion" type="text"
                        [(ngModel)]="empleados.numeroIdentificacion" class="form-control" name="numeroIdentificacion"
                        [ngClass]="{ 'is-invalid': submitted && f.numeroIdentificacion.errors }">

                        <div *ngIf="submitted && f.numeroIdentificacion.errors" class="invalid-feedback">
                            <div *ngIf="f.numeroIdentificacion.errors.required">Número de identificación requerido</div>
                            <div *ngIf="f.numeroIdentificacion.errors.pattern">Deben ser caracteres alfanuméricos</div>
                        </div>                        
                </div>
            </div>
            <div class="form-group row">
                <label for="tiposIdentificacion" class="col-form-label col-sm-2">Tipos identificación</label>
                <div class="col-sm-6">
                    <select class="form-control " id="tiposIdentificacion" formControlName="tipoIdentificacion" name="tipoIdentificacion"
                    [(ngModel)]="empleados.tipoIdentificacion">
                        <option *ngFor="let itemTiposIdentificacion of tiposIdentificacion"
                            value="{{itemTiposIdentificacion.id}}">
                            {{itemTiposIdentificacion.nombre}}
                        </option>
                    </select>                     
                </div>             
            </div>
            <div class="form-group row">
                <label for="tiposAreasServicio" class="col-form-label col-sm-2">Areas de servicio</label>
                <div class="col-sm-6">
                    <select class="form-control " id="tiposAreasServicio" formControlName="tipoAreasServicio" name="tipoAreasServicio"
                    [(ngModel)]="empleados.areaServicio">
                        <option *ngFor="let itemAreaServicios of areaServicios" value="{{itemAreaServicios.idArea}}">
                            {{itemAreaServicios.nombre}}
                        </option>
                    </select>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-2">Fecha de ingreso</label>
                <div class="col-sm-6">
                    <input type="date" formControlName="fechaIngreso" class="form-control"
                    [max]="getToday()" [(ngModel)]="empleados.fechaIngreso"/>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" >Crear</button>
                </div>
            </div>
        </form>

    </div>
</div>